.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    /* Tres columnas */
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "main main aside"
        "footer footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    background: #333;
    color: white;
    padding: 20px;
}

nav {
    grid-area: nav;
    background: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-around;
    /* Distribución equitativa */
    align-items: center;
    list-style: none;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    grid-area: main;
    padding: 20px;
}

aside {
    grid-area: aside;
    background: #eee;
}

footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
}

/* Selecciona enlaces que terminen exactamente en .pdf */
a[href$=".pdf"] {
    color: red;
    font-weight: bold;
    padding-left: 20px;
    background: url('../img/icon-pdf.png') no-repeat left center;
    background-size: 40px;
    display: inline-block;
    padding-left: 35px;
}

/* Selecciona enlaces que contengan la palabra "seguro" en cualquier parte */
a[href*="seguro"] {
    border-bottom: 2px solid green;
}